/*Envolta dos inputs*/
.wrap-input{
    position: relative;
    padding-top: 6%;
    border-bottom: 2px solid #adadad;
}

/*caixa de texto*/
.wrap-input .input-start{
    width: 100%;
    border: none;
    background-color: transparent;
    line-height: 1.2;
    position: relative;
    font-size: 17px;
    padding-top: 15px;
}

.wrap-input .input-start:focus{
    outline: 0;
}

/*span email e senha*/
.focus-input{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 30px;
    top: -40px;
    left: 0;
    pointer-events: none;
    color: #FFC15A;
}

/*movimentação dos spans*/
.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.focus-input::after{
    font-size: 20px;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.input-start:focus + .focus-input::after{
    top: -10px;
}

.input-start:focus + .focus-input::before{
    /*width: 100%;*/
}

.has-val + .focus-input::after{
    top: -10px;
}

/*posição do botao*/
.container-button{
    margin-top: 22px;
}

/*botao*/
.container-button button{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    background-color: #997977;
    color: #FFC15A;
    cursor: pointer;
}

/*Links*/
p{
    padding-top: 20px;
    font-size: 17px;
}