/*botão adicionar / table.jsx*/
.buttonOpen{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.712);
    /*background-color: rgb(255, 255, 255);*/
    /*box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffffe8;
}

.buttonOpen:hover{
    background-color: rgba(119, 136, 153, 0.171);
    cursor: pointer;
}

/*Inputs sozinhos*/
.modal .forne, .modal .endereco, .modal .bairro{
    width: 100%;
    margin-bottom: 12px;
}

/*grupo de inputs*/
.wrap-input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.cnpj, .cep, .cidade, .pais, .email, .tel{
    width: 160px;
}

/*Id e fornecedor / modalEdit.js*/
.wrap-input-group .id{
    width: 70px;
}

.wrap-input-group .fornecedor{
    width: 250px;
}

/*Margin dos botoes*/
.group-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.close, .add, .alter, .delete{
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
    color: #fff;
}

.close{
    background-color: rgba(255, 0, 0, 0.737);
}

.add, .alter, .delete{
    background-color: rgba(12, 65, 238, 0.783);
}