/*botão adicionar / table.jsx*/
.adicionar{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.712);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.adicionar:hover{
    background-color: rgba(119, 136, 153, 0.171);
    cursor: pointer;
}

/*Inputs*/
.wrap-input-field .fornecedor, .wrap-input-field .email, .wrap-input-field .tel, .wrap-input-field .endereco, .wrap-input-field .bairro{
    width: 100%;
    margin-bottom: 12px;
}

/*grupo de inputs*/
.wrap-input-c, .wrap-input-local, .wrap-input-a, .wrap-input-prod{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

/*CNPJ e CEP*/
.wrap-input-c .cnpj, .wrap-input-c .cep{
    width: 160px;
}

/*cidade e pais*/
.wrap-input-local .cidade, .wrap-input-local .pais{
    width: 160px;
}

/*email e telefone*/
.wrap-input-a .email, .wrap-input-a .tel{
    width: 160px;
}

/*Id e fornecedor / modalEdit.js*/
.wrap-input-prod .id{
    width: 70px;
}

.wrap-input-prod .fornecedor{
    width: 250px;
}

/*Margin dos botoes*/
.group-buttons{
    display: flex;
    justify-content: space-between;
}

.close, .add, .alter, .delete{
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
}

.close{
    background-color: rgba(255, 0, 0, 0.737);
}

.add, .alter, .delete{
    background-color: rgba(0, 128, 0, 0.432);
}

.close:hover, .add:hover, .alter:hover, .delete:hover{
    cursor: pointer;
}