.wrap-search{
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*box-shadow: 5px 2px 6px -1px rgba(50,56,49,0.64);*/
}

.wrap-search input{
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 5px;
    height: 26px;
}

.icon-search{
    width: 30px;
    font-size: 18px;
}

.wrap-table{
    padding-top: 30px;
}

.table{
    width: 100%; 
    height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    border: 1px solid rgba(201, 201, 201, 0.712);
}