.wrap-charts{
    background-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 10px;
    height: 650px;
    overflow: hidden;
    overflow-y: scroll;
}

.small-charts{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.pie-chart, .bar-chart{
    width: 670px;
}