/*botão adicionar / table.jsx*/
.adicionar{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.712);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.adicionar:hover{
    background-color: rgba(119, 136, 153, 0.171);
    cursor: pointer;
}

/*Caixa de texto de prodtuo, descricao e preco / editModal.js*/
.wrap-input-field .produto, .wrap-input-field .desc, .wrap-input-field .preco{
    width: 100%;
    margin-bottom: 12px;
}

/*Margin das caixas dos textos de quantidades*/
.wrap-input-quant{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

/*Caixa de texto das quantidades*/
.wrap-input-quant .quant{
    width: 105px;
}

/*Margin da caixa dos textos do id e produto / editModal.js*/
.wrap-input-prod{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.wrap-input-prod .id{
    width: 60px;
}

.wrap-input-prod .produto{
    width: 250px;
}

/*Margin dos botoes*/
.group-buttons{
    display: flex;
    justify-content: space-between;
}

.close, .add, .alter, .delete{
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
}

.close{
    background-color: rgba(255, 0, 0, 0.737);
}

.add, .alter, .delete{
    background-color: rgba(0, 128, 0, 0.432);
}

.close:hover, .add:hover, .alter:hover, .delete:hover{
    cursor: pointer;
}