/**/
.resumeItem{
    padding: 13px 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 4px;
    border: 1px solid rgba(201, 201, 201, 0.712);
}

/*Posição dos itens*/
.resumeItem div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 600px){
        /*Mudar aqui para flex: ...*/
        /*display: grid;*/
        justify-content: center;

        .wrap-search{
            display: flex;
            margin-bottom: 10px;
        };
    }
}