/**/
.resumeItem{
    padding: 13px 5px;
}

/*Posição dos itens*/
.resumeItem div{
    display: flex;
    justify-content: space-between;

    @media(max-width: 600px){
        display: grid;
        justify-content: center;

        .wrap-search{
            display: flex;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}