.container-form{
    width: 100%;
    /*background-color: rgb(119, 136, 153);*/
    /*background-color: rgb(238, 238, 238);*/
    background-color: #CDCDCD;
}

.wrap-form{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form{
    width: 60%;
    /*background-color: rgba(91, 84, 84, 0.694);
    /*background-color: #998C77;*/
    background-color: #928e8ec0;
    /*background-color: #9393934c;*/
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin: auto;
    padding: 35px 20px;
    border-radius: 15px;
}

/*titulo*/
.title-start{
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: #FFC15A;
    /*color: #CDCDCD;*/
    display: flex;
    justify-content: center;
}